# Create the workspace using the Local GenAI image.
# This image includes all the required libraries to run the sample project, except for the ones explicitly listed below.

webvtt-py==0.5.1
langchain-huggingface==0.2.0
pyyaml
pandas
sentence-transformers
langchain_core
langchain_huggingface
tokenizers>=0.13.0
httpx>=0.24.0
mlflow==2.21.2
