# Create the workspace using the Local GenAI image. 
# This image includes all the required libraries to run the sample project, except for the ones explicitly listed below.

chromadb==0.6.3
docling==2.37.0
langchain-docling==1.0.0
langchain==0.3.25
langchain_community==0.3.25
langchain_core==0.3.65
langchain_huggingface==0.3.0
