# Create the workspace using the Local GenAI image.
# This image includes all the required libraries to run the sample project, except for the ones explicitly listed below.

langgraph==0.5.3
unstructured==0.18.9
pypdf==5.8.0
python-docx==1.2.0
msoffcrypto-tool==5.4.2
openpyxl==3.1.5
mlflow==2.21.2
