# Create the workspace using the Local GenAI image. 
# This image includes all the required libraries to run the sample project, except for the ones explicitly listed below.

chromadb==0.6.3
langchain==0.3.26
langchain_community==0.3.26
langchain_core==0.3.66
langchain_huggingface==0.3.0
hf-xet==1.1.4
opencv-python-headless==4.11.0.86
jq==1.9.1
transformers==4.53.1
promptquality==1.13.0
sentence-transformers==5.0.0
tf-keras==2.19.0
einops==0.8.1
timm==1.0.17
accelerate==1.9.0
bitsandbytes==0.46.1