# Create the workspace using the Local GenAI image. 
# This image includes all the required libraries to run the sample project, except for the ones explicitly listed below.

torch==2.7.1 --index-url https://download.pytorch.org/whl/cu128
torchvision==0.22.1 --index-url https://download.pytorch.org/whl/cu128
torchaudio==2.7.1 --index-url https://download.pytorch.org/whl/cu128
chromadb==0.6.3
langchain==0.3.27
langchain_community==0.3.27
langchain_core==0.3.72
langchain_huggingface==0.3.1
hf-xet==1.1.5
opencv-python-headless==4.12.0.88
jq==1.10.0
transformers==4.54.1
sentence-transformers==5.0.0
tf-keras==2.19.0
einops==0.8.1
timm==1.0.19
accelerate==1.9.0
bitsandbytes==0.46.1
GitPython==3.1.45
rank-bm25==0.2.2
qwen-vl-utils==0.0.11
vllm==0.10.0
flashinfer-python==0.2.8